@import '../../styles/_variables.scss';
@import '../../styles/main.scss';
@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

.container--upload-button {
  margin: 2rem 0;
}

.imgPreview {
  display: flex;
  justify-content: center;
  padding: 2rem;

  img {
    height: 10rem;
    width: auto;
  }
}

.photo_preview,
.photo_fullSize {
    max-width: 100vw;
    max-height: 100vh;
}

.photo_fullSize:hover {
    cursor: zoom-out;
}

/* overwrite DateTimePicker CSS */
.MuiPickersToolbar-toolbar h3 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
  font-size: 3rem;
}
