@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap');

/* Colors */
// Material Cyan
$primary-color: #006064; // 900 //#2D33A6;
$primary-color-light: #00acc1; // 600 //#434BD9;
// Material Light Green
$secondary-color: #33691E; // 900 // #BFA065;
$secondary-color-light: #7CB342; // 600 // #D9BB62;

$text-normal: #2b2b2b;
$text-light: #fff;
// Material Blue
$link-color: #1E88E5; // 600 // #434BD9;

// Material Amber
$warning-color: #FF8F00; // 800
// Material Red
$error-color: #C62828; // 800 // #D9CB04;

// Material Grey
$background-light: #EEEEEE; // 200 // #eee;
$background-white: #FFF; 
$background-dark: #212121; // 900 // #2b2b2b;

$bold: bold;