@import "./_variables";

* {
    font-family: "Roboto", sans-serif;
}

h1 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    margin-top: 6rem;
}