@import "../../styles/_variables.scss";
@import "../../styles/main.scss";

.header {
    background-color: $background-white;
    padding: 1rem 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
    transition: all .5s ease-out;

    &.small {
        padding: 0.5rem 0;
        opacity: .95;
    }

    &--nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        transition: all .5s ease-out;
    }

    &--logo {
        width: auto;
        height: 1.5rem;
        transition: all .5s linear;
    }

    &--menuItem {
        margin: 0 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &--icon {
        color: $primary-color;
        height: 2rem;
        width: auto;
    }

    .logo-full {
        display: none;
    }

    a {
        display: flex;
    }

    .flex-right {
        display: flex;
    }

    @media(min-width: 450px) {
        .logo-small {
            display: none;
        }
    
        .logo-full {
            display: block;

            .header--logo {
                height: 2rem;

                &.small {
                    height: 1.5rem;
                }
            }
        }
    }

    @media(min-width: 380px) {
        .header--nav {
            padding: 0 2rem;

            &.small {
                padding: 0 0.5rem 0 1.5rem;
            }
        }
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 100;
    transition: visibility 0s, opacity .3s cubic-bezier(0, .52, 0, 1);

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.profileMenu {
    background: $background-white;
    position: fixed;
    padding: 6rem 1rem;
    height: 100vh;
    right: 0;
    width: 90vw;
    max-width: 300px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    z-index: 101;

    &.hide {
        transform: translate3d(350px, 0, 0);
    }

    &.show {
        transform: translate3d(0, 0, 0);
    }

    &--list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &--link,
    .languageSwitcher {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    &--link {
        &.active {
            h6 {
                font-weight: bold;
            }
        }

        &:hover {
            text-decoration: none;
            background: $background-light;
            border-radius: 5px;
        }
    }
}

.languageSwitcher {
    padding-top: 2rem!important;
    position: relative;

    &:after {
        content: "";
        background: $background-light;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 15px;
    }
}
