@import "../../styles/_variables.scss";
@import "../../styles/main.scss";

.footer {
    background-color: $background-dark;
    color: $text-light;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;

    &--logo {
        width: auto;
        height: 1rem;
        transition: all .5s linear;

        @media(min-width: 250px) {
            height: 1.5rem;
        }
    }

    &--menuItem {
        margin: 0 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &--nav {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        .logo,
        .links {
            display: flex;
            justify-content: center;
        }

        .links {
            margin-top: 2rem;
            flex-wrap: wrap;

            a {
                color: #80deea;
            }
        }
    }
}