@import '../../styles/_variables.scss';
@import '../../styles/main.scss';
@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

.leaflet-container {
  width: 100%;
  z-index: 5;
}

.map {
  &--index {
    height: 75vh;
  }

  &--location {
    height: 50vh;
  }

  &--upload {
    height: 40vh;
  }
}

.leaflet-popup-content {
  width: auto !important;
}

.popup {
  &--photo {
    height: 5rem;
    width: auto;
  }
}

.leaflet-popup {
  width: 50vw;
  max-width: 300px;

  &-content {
    margin: 0 !important;

    p {
      margin: 0 !important;
    }

    &-wrapper {
      padding: 0 !important;
    }
  }
}

.leaflet-top.leaflet-left {
  top: 4rem;
}

.leaflet-custom-marker-icon {
  animation: marker-animation infinite 1s ease-in-out;
  animation-play-state: paused;
}

@keyframes marker-animation {
  0% {
    filter: drop-shadow(1px 1px 1px) brightness(1);
  }
  50% {
    filter: drop-shadow(8px 8px 10px grey) brightness(1.2);
  }
  100% {
    filter: drop-shadow(1px 1px 1px) brightness(1);
  }
}
