@import "../../styles/_variables.scss";
@import "../../styles/main.scss";

.recommendations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .recommendation {
        display: flex;
        flex-direction: column;
        position: relative;

        &--link {
            color: $text-light;
            font-weight: $bold;

            &:hover {
                .recommendation--img {

                    &-background {
                        opacity: 0.4;
                    }

                }
                .recommendation--location {
                    display: inherit;
                }
            }
        }

        &--img {
            width: 25rem;
            height: 15rem;
            object-fit: cover;
            overflow: hidden;

            &-background {
                background-color: black;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }

        &--location {
            position: absolute;
            bottom: 2rem;
            right: 0;
            left: 0;
            display: none;
        }
    }
}